<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Komputronik - OR</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">

    <!-- DataBase CSS -->
    <link href="css/datatable.min.css" rel="stylesheet">
    <!-- DatePicker CSS -->
    <link href="css/datepicker.css" rel="stylesheet">

    <!-- Page style core CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Komputronik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div id="main-content" class="container-fluid">
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <table id="example" class="display responsive nowrap table table-striped table-bordered table-sm" style="width:100%;">
                <thead>
                <tr>
                    <th>Polecenie: </th>
                    <th>Autor zgłoszenia: </th>
                    <th>Data utworzenia: </th>
                    <th>Nazwa firmy: </th>
                    <th>Nip: </th>
                    <th>Osoba kontaktowa: </th>
                    <th>Nr telefonu: </th>
                    <th>Status Comp: </th>
                    <th>Stan OPL: </th>
                    <th>Nr TEL: </th>
                    <th>Oczekiwana usługa: </th>
                    <th>Oczekiwana data instalacji: </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Add/Update Lead -->
<button id="add-lead">Dodaj</button>

<!-- Footer -->
<footer class="container-fluid">
    <div class="color-black">
        github.com/zcmee © 2018.
    </div>
</footer>

<!-- Modal Window with change of order status -->
<div class="modal-container"></div>

<!-- Jquery core Library -->
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>

<!-- Plugin Handlebars -->
<script src="webjars/handlebars/4.0.11/handlebars.min.js"></script>

<!-- Plugin Moment.js -- Parse, validate, manipulate, and display dates and times in JavaScript. -->
<script src="webjars/momentjs/2.21.0/moment.js"></script>

<!-- Plugin Bootstrap core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin DataTables -->
<script src="js/datatables.min.js"></script>

<!-- Plugin DatePicker -->
<script src="js/datepicker.min.js"></script>

<!-- Plugin Toastr -->
<script src="js/toast.min.js"></script>

<!-- Own Styling page with js -->
<script src="js/main.js"></script>

<!-- Own Ajax Sender -->
<script src="js/ajax.js"></script>

<!-- Own Validator for forms -->
<script src="js/validator.js"></script>

<!-- Own Session Management -->
<script src="js/session.js"></script>

<!-- Own DataTables configuration -->
<script src="js/or/datatables-configuration.js"></script>

</body>
</html>